{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel ='icon' href="{% static 'images/logo.png' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>QuizzUS</title>


</head>

<body>

    <!--header area start-->
    <div class="nav-container">

        <div class="logo">
            <h1 style="position: absolute;left: 13%;top: 20%;color:#6e2e9d;font-size: 38px;font-weight: 600;left: 50%;">QuizzUS</h1>
            <img src="{% static 'images/logo.png' %}"  alt="" style="position: relative;width: 101px;left: 38%;bottom: 15px;">

            
          </div>       </div>
    <!--header area end-->

    <!--sidebar start-->
    <div class="sidebar">
        <div class ="panel">

        <center>

            <img src="{% static 'images/Teacher.png' %}" class="profile_image" alt="">
            
            <h6 >{{request.session.tename}}</h6>
            <h4>(teacher)</h4>


        </center>


                <ul class="sideitems">
                    <li>
                        <a   href="{% url 'taketoTdash' %}">Home</a>
                    </li>
        
                    <li>
                        <a href="{% url 'taketoquiz' pk=request.session.tename %}">Reports</a>
                    </li>
        
                    <li>
                        <a  href="/" style="margin-top: 100px;">Logout</a>
                    </li>
    </div>
</div>


    <div class="form-area">
        <h1></h1>
        <label  style="position: absolute;top: 43%;left: 32%;font-size: 11px;width: 70%;font-weight: 600;color: #9a0909;">(add number of random question to be assigned to student from list of questions)  </label>
        <h3>Add Quiz</h3>
        <form action="{% url 'getquizinfo' pk=request.session.tename%}" method="post">
            {% csrf_token %}
            <p class="single-form">
                <label for="quiz name">Quiz Name</label><input type="text" name="quizname" id="quiz name" required>
                
            </p>
            
            <p class="single-form">
                <label for="marks">Number of Questions</label><input type="no" name="no" id="no" required>  
                 
            </p>

            <p class="single-form">
                <label for="time">Total Time (mins)</label><input type="text" name="tottime" id="tottime" required>
                
            </p>

            <p class="single-form">
                <label for="marks">End Date</label><input type="Date" name="date" id="DATE" required>
                
            </p>

            <p class="single-form">
                <label for="quiz name">Quiz End Time</label><input type="time" name="time" id="time" required>
                
            </p>
            <input class="bnt" type="submit" value="Submit" onClick="onClick()"  >
            <!-- <a href="addQue.html">Submit</a> -->
        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

function onClick(){
    Swal.fire({
        title: 'Info' ,
      //  text: 'Add more then [' +pre+ '] questions , to allot random quetions to students !'  ,
        text: 'Questions created by teacher should be greater then number of random question to be assigned .'  ,
        icon: 'info',
        confirmButtonText: 'OK',
        confirmButtonColor: '#800080',
      }) 
}


   var date = new Date();
    var cdate = date.getDate();
    if(cdate <10){
        cdate = '0' +cdate;
    }
    var month = date.getMonth() + 1;
    if(month <10){
        month = '0' +month;
    }
    var year = date.getUTCFullYear();
    var minDate = year +"-"+month + "-" + cdate;
    document.getElementById("DATE").setAttribute('min', minDate);
    console.log(minDate);














    
    

  

</script>
   
</body> 
</html>   

