{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel ='icon' href="{% static 'images/logo.png' %}"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>QuizzUS</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <div class="logo">
                    <h1 style="position: absolute;left: 13%;top: 13%;color:#6e2e9d;">QuizzUS</h1>
                    <img src="{% static 'images/logo.png' %}"  alt="" style="position: relative;width: 101px;right: 42%;bottom: -4px;">
        
                    
                  </div>
                <ul class="navitems">
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>
                        <a class="current" href="{% url 'taketoTlogin' %}">Teacher</a>
                    </li>
                    <li>
                        <a href="{% url 'taketoSlogin' %}">Student</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% comment %} <div class="bg1-img">
            <img src="{% static 'images/Background.png' %}" alt="">
        </div> {% endcomment %}


    </header>
    <div class="RegT-container">

        <form action="{% url 'teacherreg' %}" method="post">
            {% csrf_token %}
            {% comment %} {% if msg %}
            <h1 style="color: red;">{{msg}}</h1>
            {% endif %} {% endcomment %}
            <div class="fields">
                <h1>Teacher Registration !</h1>
                <div class="textfield_T">
                    <label>Name:</label><input type="text" name="tname" placeholder="Enter your Name"
                        autocomplete="off" required>
                </div>
                <div class="textfield_T">
                    <label>Email-id:</label><input type="email" name="temail" id="emailid"
                        placeholder="Enter your Email_id" autocomplete="off" required>
                </div>
                {% comment %} <div class="textfield_T">
                    <label>Subject:</label><input type="text" name="subject" id="subject"
                        placeholder="Subject Name" autocomplete="off" required>
                </div> {% endcomment %}
                <div class="textfield_T">
                    <label>Password:</label><input type="password" name="tpass" placeholder="Create Password"
                        autocomplete="off" required>
                </div>

                <div class="textfield_T">
                    <label>Confirm Password:</label><input type="password" name="tcpass" id="cnfpassword"
                        placeholder="Confirm Password" required>
                </div>
                <button class="regT-button" type="submit">Create Account</button>
            </div>
        </form>

        <div class="img">
            <img src="{% static 'images/signup.png' %}" alt="">
        </div>

    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    
        {% if msg2 %}

        swal({
            title: "Oops !",
            text: '{{msg2}}',
            icon: "error",
        
          });     
       
        {% endif %}

        {% if msg1 %}

        swal({
            title: "Done !",
            text: '{{msg1}}',
            icon: "success",
        
          });     
       
        {% endif %}

        
    
    </script>
</body>

</html>